html {
  font-size: 16px;
  line-height: 1.4;
  background-color: #ffffff;
  color: #4c4c4c;
}

div {
  /** border: 1px solid red; **/
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

a, p, span, li {
  font-family: 'Raleway', sans-serif;
}

ol, ul {
  display: block;
  margin: 1rem 0;
}

ul li {
  display: inline;
  margin-left: 1rem;
}

.site-container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  color: #e5e5e5;
}

.logo .strong {
  font-weight: bold;
  color: #4c4c4c;
}

.logo img {
  margin-left: 1.5rem;
  height: 2rem;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.mobile-navigation {
  display: none;
}

@media only screen and (max-width: 600px) {

  .logo span {
    display: none;
  }

  nav ul {
    display: none;
  }

  .mobile-navigation {
    display: flex;
    align-items: center;
  }
}

.main-banner {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
}

.main-banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  margin-right: 2rem;
}

.banner-headline h1 {
  font-size: 2rem;
}

.banner-headline p {
  margin: 1.5rem 0;
}

.banner-headline a {
  width: 100%;
  background-color: #4c4c4c;
  color: #ffffff;
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .main-banner {
    flex-flow: column;
  }

  .main-banner img {
    margin: 0 0;
    width: 100%;
  }

  .banner-headline {
    margin: 2rem 1rem;
  }

  .banner-headline h1 {
    text-align: center;
  }

  .banner-headline p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}


/** REFACTORING **/


.two-columns-container {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.left-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0 1.5rem;
}

.left-column-content img {
  width: 100%;
}

.left-column-content .video-wrapper {
  width: 100%;
}

.left-column-content h2 {
  margin-top: 2rem;
  font-size: 1.75rem;
}

.left-column-content p {
  margin-top: 1.5rem;
}

.left-column-container .citation {
  font-size: 0.75rem;
}

/** HIDE LEFT COLUMN FOR MOBILE **/
@media only screen and (max-width: 800px) {

  .two-columns-container {
    margin: 0 auto;
  }

  .left-column-container {
    display: none;
  }
}

.right-column-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.right-column-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;

}

.right-column-item:nth-child(3n+3) {
  background-color: #e5e5e5;
}

.right-column-item img {
  max-width: 35%;
  height: auto;
  display: block;
}

img.mobile-image {
  display: none;
}

.item-content {
  width: 65%;
  margin: 0 1rem;
}

.item-content p {
  margin: 0.5rem 0;
}

#information .right-column-container {
  border-left: 1px solid #e5e5e5;
}

#information .right-column-item:first-child {
  border-bottom: 1px solid #e5e5e5;
}

#information .right-column-item:nth-child(2n+0) {
  border-top: 1px solid #e5e5e5;
}

#thesis .right-column-item:nth-child(2n+1) {
    background-color: #e5e5e5;
}

@media only screen and (max-width: 800px) {
  .right-column-container {
    width: 100%;
    margin: 1rem 1rem;
    border: none;
  }

  .right-column-item {
    flex-flow: column;
    padding: 0 0;
    background-color: #ffffff;
    border: none;
  }

  .right-column-item:nth-child(3n+3) {
    background-color: #ffffff;
  }

  #information .right-column-container {
    border-left: none;
  }

  #information .right-column-item:first-child {
    border-bottom: none;
  }

  #information .right-column-item:nth-child(2n+0) {
    border-top: none;
  }

  .right-column-item img {
    display: none;
  }

  img.mobile-image {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .item-content {
    width: 100%;
    margin: 2rem 1rem;
  }

  .item-content h4 {
    margin: 0 1rem;
  }

  .item-content p {
    margin: 0.5rem 1rem;
  }

  .item-content a {
    margin: 0 1rem;
  }

}

.courses-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
}

.courses-container h1 {
  margin: 2rem 0;
  font-size: 2rem;
}

.courses {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 4.5rem;
}

.course {
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  width: 30%;
  height: auto;
  margin-bottom: 2rem;
}

.course img {
  width: 100%;
  height: auto;
  display: block;
}

.course h2 {
  margin: 1rem 1rem;
}

.course h4 {
  margin: 0.5rem 1rem;
  font-weight: normal;
}

.course p {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 800px) {
  .courses-container {
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
  }

  .courses-container h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .courses {
    width: 100%;
    flex-flow: column;

  }

  .course {
    background-color: #e5e5e5;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem; /* NOTE: This doesn't seem to take */
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .course img {
    display: none;
  }

  .course-content h4, p {
    display: none;
  }
}



footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 2rem;
}

footer .copyright {
  text-align: left;
  display: inline-block;
  margin: 1rem 1.5rem;
}

footer .terms {
  text-align: right;
  display: inline-block;
  margin-right: 1.5rem
}

footer .terms span {
  margin-left: 1rem;
}

/** REFACTORING END

.information-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 2rem 1.5rem;
}

.information-content img {
  width: 100%;
}

.information-content h2 {
  margin-top: 2rem;
  font-size: 1.75rem;
}

.information-content p {
  margin-top: 1.5rem;
}

.information-main .citation {
  font-size: 0.75rem;
}

.information-items {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
  border-left: 1px solid #e5e5e5;
}

.information-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 2px solid #e5e5e5;
}

.information-item:nth-child(3n+3) {
  background-color: #e5e5e5;
}

.information-item img {
  max-width: 35%;
  height: auto;
  display: block;
}

.information-item .item-content {
  width: 65%;
  margin: 0 1rem;
}

.information-item .item-content p {
  margin: 0.5rem 0;
}

/** REFATORING **/
