html {
  font-size: 16px;
  line-height: 1.4;
  background-color: #ffffff;
  color: #4c4c4c;
}

div {
  /** border: 1px solid red; **/
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

a, p, span, li {
  font-family: 'Raleway', sans-serif;
}



ol, ul {
  display: block;
  margin: 1rem 0;
}

ul li {
  display: inline;
  margin-left: 1rem;
}

.site-container {
  width: 1024px;
  margin: 0 auto;
}

header .site-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  color: #e5e5e5;
}

.logo .strong {
  font-weight: bold;
  color: #4c4c4c;
}

.logo img {
  margin-left: 1.5rem;
  height: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

nav .mobile-navigation {
  display: none;
}

.main-banner {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
}



.main-banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 2rem;
}

.banner-headline h1 {
  font-size: 2rem;
}

.banner-headline p {
  margin: 1.5rem 0;
}

.banner-headline a {
  width: 100%;
  background-color: #4c4c4c;
  color: #ffffff;
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: none;
}


/** REFACTORING **/


.two-columns-container {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.left-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0 1.5rem;
}

.left-column-content img {
  width: 100%;
}

.left-column-content .video-wrapper {
  width: 100%;
}

.left-column-content h2 {
  margin-top: 2rem;
  font-size: 1.75rem;
}

.left-column-content p {
  margin-top: 1.5rem;
}

.left-column-container .citation {
  font-size: 0.75rem;
}

.right-column-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.right-column-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;

}

.right-column-item:nth-child(3n+3) {
  background-color: #e5e5e5;
}

.right-column-item img {
  max-width: 35%;
  height: auto;
  display: block;
}

.item-content {
  width: 65%;
  margin: 0 1rem;
}

.item-content p {
  margin: 0.5rem 0;
}

.courses-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
}

.courses-container h1 {
  margin: 2rem 0;
  font-size: 2rem;
}

.courses {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 4.5rem;
}

.course {
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  width: 30%;
  height: auto;
  margin-bottom: 2rem;
}

.course img {
  width: 100%;
  height: auto;
  display: block;
}

.course h2 {
  margin: 1rem 1rem;
}

.course h4 {
  margin: 0.5rem 1rem;
  font-weight: normal;
}

.course p {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#information .right-column-container {
  border-left: 1px solid #e5e5e5;
}

#information .right-column-item:first-child {
  border-bottom: 1px solid #e5e5e5;
}

#information .right-column-item:nth-child(2n+0) {
  border-top: 1px solid #e5e5e5;
}

#thesis .right-column-item:nth-child(2n+1) {
    background-color: #e5e5e5;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 2rem;
}

footer .copyright {
  text-align: left;
  display: inline-block;
  margin: 1rem 1.5rem;
}

footer .terms {
  text-align: right;
  display: inline-block;
  margin-right: 1.5rem
}

footer .terms span {
  margin-left: 1rem;
}

/** REFACTORING END

.information-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 2rem 1.5rem;
}

.information-content img {
  width: 100%;
}

.information-content h2 {
  margin-top: 2rem;
  font-size: 1.75rem;
}

.information-content p {
  margin-top: 1.5rem;
}

.information-main .citation {
  font-size: 0.75rem;
}

.information-items {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
  border-left: 1px solid #e5e5e5;
}

.information-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 2px solid #e5e5e5;
}

.information-item:nth-child(3n+3) {
  background-color: #e5e5e5;
}

.information-item img {
  max-width: 35%;
  height: auto;
  display: block;
}

.information-item .item-content {
  width: 65%;
  margin: 0 1rem;
}

.information-item .item-content p {
  margin: 0.5rem 0;
}

/** REFATORING **/
